/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-2{
	background: transparent;
	padding: 0;
	display:block;
	position:relative;
	width:100%;
	margin:0px auto 0px;
}


/* carousel */


#amazingcarousel-2 .amazingcarousel-list-container { 
	height: 100%;
	overflow:hidden;
	padding-left: 1px;
	background: transparent;
}

/* item */

#amazingcarousel-2 .amazingcarousel-item-container {
	
	padding-right: 5px;
	min-height: 150px;
	max-height: 210px;
	width: 100%;
	background-color: transparent;
	/*border: 1px solid #ddd;*/
	/*-moz-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);*/
}

/* arrows */
#amazingcarousel-2 .amazingcarousel-prev {
	right: 0%;
	top: 100%;
	margin-right: 32px;
	margin-top: 8px;
}

#amazingcarousel-2 .amazingcarousel-prev {
	right: 0%;
	top: -15%;
	margin-right: 32px;
	margin-top: -16px;
}

#amazingcarousel-2 .amazingcarousel-next {
	right: 0%;
	top: -15%;
	margin-right: 0px;
	margin-top: -16px;
}

#amazingcarousel-2 .amazingcarousel-bullet-wrapper {
	margin: 0;
}

/* hide navigation on mobile */

@media (max-width: 600px) {
	#amazingcarousel-2 .amazingcarousel-nav {
		display: none;
	}
}

