/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#amazingcarousel-3{
	position:relative;
	margin:0px auto 0px;
	/*background: #567;*/
	min-height: 200px;	
	max-height: 600px;	
	width: 100%;
}

#amazingcarousel-3 .media {	
	padding: 5px;	
}

#amazingcarousel-3 .media img {	
	max-width: 100%;
	border: 0;
	margin: auto;
	padding: 5px;	
	background: rgba(255, 255, 255, 0.9);
	-moz-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);		
}



/* carousel */


#amazingcarousel-3 .amazingcarousel-list-container { 
	overflow:hidden;
	padding:5px 0 5px 0;
	background: transparent;
}

/* item */

#amazingcarousel-3 .amazingcarousel-item-container {
	text-align: center;
	padding: 0px;
	margin-bottom: 10px;
	height: auto;
	background: transparent;

}

/* arrows */

#amazingcarousel-3 .amazingcarousel-prev {
	right: 0%;
	top: -17%;
	margin-right: 32px;
	
}

#amazingcarousel-3 .amazingcarousel-next {
	right: 0%;
	top: -17%;
	margin-right: 0px;
	
}


