/*
 * Web Posgrado UPeU
 *
 * Copyright Grupocova,  
 */


/*Estilos Generales*/

body{
  padding-top: 50px;
  /*background: rgba(157, 26, 11, 0.9);*/
  background: rgba(127, 56, 100, 0.05);
}


.wepg-panel{
  background-color: #b3b3b3;
  border-radius: 4px;
  padding: 8px 8px;
}

/*Estilos de componentes de la web*/
/*Header (#wepg-header)  */
#wepg-header{
  padding-bottom: 5px;
  padding-top: 5px;
  background: #fff;
}

/*Encabezado (#wepg-encabezado)  */
#wepg-encabezado{
  padding: 10px 0;  
  color:#000;
}

/*navegacion principal (#wepg-navmain)  */

#wepg-navmain{

}

#wepg-navmain ul li a{
  font-family: arial;
  font-size: 13pt;
  font-weight: bold;  
  color: #7f3864;
}
#wepg-navmain .dropdown-menu {
  padding: 5px 5px;
}

#wepg-navmain .dropdown-menu li a{
  font-family: arial;
  font-weight: normal;
  font-size: 12pt;
  color: #000; 
}

#wepg-navmain .dropdown-menu li a:hover {
  background: rgba(127, 56, 100, 0.8); 
  color: #fff;
}






/*Nuestros Sitios (#wepg-sitios)  */
#wepg-sitios{
  background: transparent;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

#wepg-sitios .wepg-title{
  font-family: arial;
  font-size: 15pt;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 0 0 7px 0;
  background: rgba(127, 56, 100, 0.8); 
  min-height: 150px;
  padding: 10px 5px;

  -webkit-box-shadow: 11px 6px 223px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 6px 223px 5px rgba(0,0,0,0.75);
box-shadow: 11px 6px 223px 5px rgba(0,0,0,0.75);

}

#wepg-sitios .wepg-item{
  background: #fff;
  padding-top: 0;
  min-height: 150px;
}

/*Anuncios (#wepg-anuncios)  */

#wepg-anuncios{
  margin-bottom: 25px;
  border-top: 1px solid rgba(127, 56, 100, 0.4);
  background: transparent;
}
#wepg-anuncios .wepg-title{  
  font-family: arial;
  font-size:large;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(127, 56, 100, 0.6);
  padding: 0 0 7px 0;
}

/*Anuncios (#wepg-anuncios)  */

#wepg-noticias{
  margin-bottom: 10px;
  border-top: 1px solid rgba(127, 56, 100, 0.4);
  background: transparent;
}
#wepg-noticias .wepg-title{  
  font-family: arial;
  font-size:large;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(127, 56, 100, 0.6);
  padding: 0 0 7px 0;
}



/*footer (#wepg-footer) */
#wepg-footer{
  padding: 10px 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background: -webkit-linear-gradient(#212121, #161616);
  background: -moz-linear-gradient(#212121, #161616);
  background: -o-linear-gradient(#212121, #161616);
}

#wepg-footer h1{
  font-size: 13.5pt;
  font-weight:normal;
  color: #993434;
}
#wepg-footer .wepg-navinf ul{
  list-style-position:inherit;
  list-style-type: none;
  padding: 0;
}

#wepg-footer .wepg-navinf ul li{
  display:inherit;  
  padding-bottom: 10px;
  margin-left: 10px;
}

#wepg-footer .wepg-navinf ul li a{
  color: #a3a2a2;
}

#wepg-footer .wepg-moreinf h1{
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 20px;
}

#wepg-footer .wepg-moreinf p{
  font-size: 10pt;
  color: #a3a2a2;
}

#wepg-footer .wepg-moreinf .icosocial{
  border-bottom: 1px solid #1f1d1d;
}

