/*
 * Web Posgrado UPeU
 *
 * Copyright Grupocova,  
 */


/*Estilos Generales*/

body{
  padding-top: 50px;
  /*background: rgba(157, 26, 11, 0.9);*/
  background: rgba(127, 56, 100, 0.05);
}

/*Estilos de componentes de la web*/
/*Header (#wepg-header)  */
#wepg-header{
  padding-bottom: 5px;
  padding-top: 5px;
  background: #fff;
}

/*Naveagcion superior (#wepg-navtop)  */
#wepg-navtop{
  background: #fff;
  border-bottom:1px solid rgba(57, 2, 26, 0.3);
  -webkit-box-shadow:  0px 2px 24px 0px rgba(57, 2, 26, 0.3);
  -moz-box-shadow:  0px 2px 24px 0px  rgba(57, 2, 26, 0.3);
  box-shadow:  0px 2px 24px 0px  rgba(57, 2, 26, 0.3);
}

/*Encabezado (#wepg-encabezado)  */
#wepg-encabezado{
  padding: 20px 0;  
  color:#000;
}

/*navegacion principal (#wepg-navmain)  */

#wepg-navmain > ul{
  width: 100%;
  padding: 5px 5px; 
  border-top: 3px solid rgba(165, 28, 48, 1);
  border-bottom: 3px solid rgba(165, 28, 48, 1);
  border-right: 3px solid rgba(165, 28, 48, 1);
  border-left: 3px solid rgba(165, 28, 48, 1);
  border-radius: 4px;
  background: rgba(117, 13, 28, 1);
}

#wepg-navmain > ul li a{
  font-family: arial;
  font-size: 12pt;
  font-weight: normal;  
  color: #fff;
  padding: 7px 15px;
}

#wepg-navmain .nav-pills > li a:hover, #wepg-navmain .nav-pills > li a:focus{
  background: rgba(165, 28, 48, 1);
}

#wepg-navmain .dropdown-menu {
  padding: 3px 3px;
  margin-top: 5px;
}

#wepg-navmain .dropdown-menu li a{
  font-family: arial;
  font-weight: normal;
  font-size: 12pt;
  color: #000; 
}
#wepg-navmain .dropdown a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

#wepg-navmain .dropdown-menu li a:hover {
  background: rgba(165, 28, 48, 1);
  border-radius: 4px;
  color: #fff;
}

#wepg-anuncios{
  margin:10px 0; 
  border:1px solid rgba(0, 0, 0, 0.1); 
  padding:5px;
  background: #fff;
}

/*Nuestros Sitios (#wepg-sitios)  */
#wepg-sitios{  
 margin:10px 0;

}



#wepg-sitios ul li a{
  font-weight: bold;
  font-family: arial;
  font-size: 10pt;
  color: #fff;
  padding:4px 10px; 
  border-top:1px solid rgba(196,68,90,0.4);
  border-left: 1px solid rgba(196,68,90,0.4);
  border-right: 1px solid rgba(196,68,90,0.4);;
  background: rgba(196,68,90,1);
background: -moz-linear-gradient(top, rgba(196,68,90,1) 0%, rgba(91,9,21,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,68,90,1)), color-stop(100%, rgba(91,9,21,1)));
background: -webkit-linear-gradient(top, rgba(196,68,90,1) 0%, rgba(91,9,21,1) 100%);
background: -o-linear-gradient(top, rgba(196,68,90,1) 0%, rgba(91,9,21,1) 100%);
background: -ms-linear-gradient(top, rgba(196,68,90,1) 0%, rgba(91,9,21,1) 100%);
background: linear-gradient(to bottom, rgba(196,68,90,1) 0%, rgba(91,9,21,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4445a', endColorstr='#5b0915', GradientType=0 );
}

#wepg-sitios ul li a:hover, #wepg-sitios ul li a:focus, #wepg-sitios .active a{
  color: rgba(196,68,90,1);
  background: #fff;
 -webkit-box-shadow: inset 0px 0px 27px -11px rgba(166,28,49,1);
-moz-box-shadow: inset 0px 0px 27px -11px rgba(166,28,49,1);
box-shadow: inset 0px 0px 27px -11px rgba(166,28,49,1);
}

#wepg-sitios #myTabContent {
  border-bottom:1px solid rgba(196,68,90,0.4);
  border-right:1px solid rgba(196,68,90,0.4); 
  border-left:1px solid rgba(196,68,90,0.4); 
  min-height:130px; 
  padding:10px 10px;
  background: #fff;
}

/*contenido (#wepg-cont)  */

#wepg-cont .wepg-title a{   
  background: rgba(235, 169, 28, 1);
}

#wepg-cont .wepg-title{ 
  border-bottom: 2px solid rgba(235, 169, 28, 1); 
}
#wepg-cont .wepg-title h5
{ 
  color: rgba(235, 169, 28, 0.5); 
  font-weight: bold;
  font-size: 12pt;
}

/*Noticias (#wepg-cont)  */

#wepg-noticias .wepg-title a{   
  background: rgba(21, 87, 73, 1);
}
#wepg-noticias .wepg-title{ 
  border-bottom: 2px solid rgba(21, 87, 73, 1);
}
#wepg-noticias .wepg-title h5 { 
  color: rgba(21, 87, 73, 0.5);
  font-weight: bold;
  font-size: 12pt;
}

/*Noticias y anuncios  */
#wepg-noticias, #wepg-cont{
  margin-bottom: 10px;
  background: #fff;
}

#wepg-noticias .wepg-title, #wepg-cont .wepg-title{    
  padding: 5px 7px;
  margin-bottom: 10px;
  height: auto;
}

#wepg-noticias .wepg-title a, #wepg-cont .wepg-title a{ 
  font-family: arial;
  font-size:large;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 15px;
  margin-right: 10px;
  text-decoration: none;
}



 




/*panel derecho (#wepg-panelright)  */
#wepg-panelright{
  border: 1px solid #e5e5e5;
  background: #fff;
  border-radius: 4px;
  padding:0;
}

/*eventos y publicaciones(#wepg-event, #wepg-publish )  */
#wepg-event, #wepg-publish{
  min-height: 200px;
  padding: 10px;
}

#wepg-event .wepg-title, #wepg-publish .wepg-title{
  font-size: 12pt;
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid rgba(76, 66, 87, 1);
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: rgba(76, 66, 87, 1);
  -webkit-box-shadow: 6px 6px 0px -4px rgba(76, 66, 87, 0.3);
-moz-box-shadow: 6px 6px 0px -4px rgba(76, 66, 87, 0.3);
box-shadow: 6px 6px 0px -4px rgba(76, 66, 87, 0.3);
}



/*footer (#wepg-footer) */
#wepg-footer{
  padding: 10px 0 0 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background: -webkit-linear-gradient(#212121, #161616);
  background: -moz-linear-gradient(#212121, #161616);
  background: -o-linear-gradient(#212121, #161616);
}

#wepg-footer h1{
  font-size: 13.5pt;
  font-weight:normal;
  text-transform: uppercase;
  color: rgba(126, 16, 32, 1);
}
#wepg-footer .wepg-navinf ul{
  list-style-position:inherit;
  list-style-type: none;
  padding: 0;
}

#wepg-footer .wepg-navinf ul li{
  display:inherit;  
  padding-bottom: 10px;
  margin-left: 10px;
}

#wepg-footer .wepg-navinf ul li a{
  color: #a3a2a2;
}

#wepg-footer .wepg-moreinf h1{
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 20px;
}

#wepg-footer .wepg-moreinf p{
  font-size: 10pt;
  color: #a3a2a2;
}

#wepg-footer .wepg-moreinf .icosocial{
  border-bottom: 1px solid #1f1d1d;
}


/* estilos generales propios*/

/* paneles .wepg-panel*/
.wepg-panel{
  background-color: #b3b3b3;
  border-radius: 4px;
  padding: 8px 8px;
}

/* circulos */
.wepg-circle{
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background: rgba(237, 174, 39, 1);
  margin: auto;
}

/*Iconos Sociales (#.icosocial)  */
.icosocial ul{
  list-style-type:none;
  list-style-position:inherit;
  padding: 0;
}
.icosocial li{
  display:inline-block;
  margin:0 0 0 15px;
}
.icosocial a{
  display:block;
  width:40px;
  height:40px;
  background-color: transparent;
  background-image:url(../img/icosociales.png);
}
.icosocial a span{
  display:none; 
}
.icosocial #face{background-position:0 0}
.icosocial #gog{background-position:-40px 0}
.icosocial #twit{background-position:-80px 0}
.icosocial #you{background-position:-120px 0}

.icosocial #face:hover{background-position:0 40px}
.icosocial #gog:hover{background-position:-40px 40px}
.icosocial #twit:hover{background-position:-80px 40px}
.icosocial #you:hover{background-position:-120px 40px}


