/*
 * Web Posgrado UPeU
 *
 * Copyright Grupocova,  
 */


/*Estilos Generales*/

body{
  padding-top: 50px;
  /*background: rgba(157, 26, 11, 0.9);*/
  background: rgba(0, 0, 0, 0.01);
}

/*Estilos de componentes de la web*/
/*Header (#wepg-header)  */
#wepg-header{
  padding-bottom: 5px;
  padding-top: 5px;
  background: #fff;
}

/*Naveagcion superior (#wepg-navtop)  */
#wepg-navtop{
  background: #fff;
  border-bottom:1px solid rgba(57, 2, 26, 0.3);
  -webkit-box-shadow:  0px 2px 24px 0px rgba(57, 2, 26, 0.3);
  -moz-box-shadow:  0px 2px 24px 0px  rgba(57, 2, 26, 0.3);
  box-shadow:  0px 2px 24px 0px  rgba(57, 2, 26, 0.3);
}

/*Encabezado (#wepg-encabezado)  */
#wepg-encabezado{
  padding: 20px 0;  
  color:#000;
}

/*navegacion principal (#wepg-navmain)  */

#wepg-navmain > ul{
  width: 100%;
  padding: 5px 5px; 
  border-top: 3px solid rgba(165, 28, 48, 1);
  border-bottom: 3px solid rgba(165, 28, 48, 1);
  border-right: 3px solid rgba(165, 28, 48, 1);
  border-left: 3px solid rgba(165, 28, 48, 1);
  border-radius: 4px;
  background: rgba(117, 13, 28, 1);
}

#wepg-navmain > ul li a{
  font-family: arial;
  font-size: 12pt;
  font-weight: normal;  
  color: #fff;
  padding: 7px 15px;
  background: transparent;
}

#wepg-navmain .nav-pills > li a:hover, #wepg-navmain .nav-pills > li a:focus{
  background: rgba(165, 28, 48, 1);
}

#wepg-navmain .dropdown-menu {
  padding: 3px 3px;
  margin-top: 5px;
}

#wepg-navmain .dropdown-menu li a{
  font-family: arial;
  font-weight: normal;
  font-size: 12pt;
  color: #000; 
}
#wepg-navmain .dropdown a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

#wepg-navmain .dropdown-menu li a:hover {
  background: rgba(165, 28, 48, 1);
  border-radius: 4px;
  color: #fff;
}

/*contenido (#wepg-anuncios)  */

#wepg-anuncios{
  margin-top: 10px;
}

#wepg-anuncios .wepg-title a{   
  background: rgba(235, 169, 28, 1);
}

#wepg-anuncios .wepg-title{ 
  border-bottom: 2px solid rgba(235, 169, 28, 1); 
}
#wepg-anuncios .wepg-title h5
{ 
  color: rgba(235, 169, 28, 0.5); 
  font-weight: bold;
  font-size: 12pt;
}

/*Noticias (#wepg-anuncios)  */

#wepg-noticias .wepg-title a{   
  background: rgba(21, 87, 73, 1);
}
#wepg-noticias .wepg-title{ 
  border-bottom: 2px solid rgba(21, 87, 73, 1);
}
#wepg-noticias .wepg-title h5 { 
  color: rgba(21, 87, 73, 0.5);
  font-weight: bold;
  font-size: 12pt;
}

/*Noticias y anuncios  */
#wepg-noticias, #wepg-anuncios{
  margin-bottom: 10px;
  background: #fff;
}

#wepg-noticias .wepg-title, #wepg-anuncios .wepg-title{    
  padding: 5px 7px;
  margin-bottom: 10px;
  height: auto;
}

#wepg-noticias .wepg-title a, #wepg-anuncios .wepg-title a{ 
  font-family: arial;
  font-size:large;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 15px;
  margin-right: 10px;
  text-decoration: none;
}




/*panel derecho (#wepg-panelright)  */
#wepg-panelright{
  border: 1px solid #e5e5e5;
  background: rgba(117, 13, 28, 1);
  border-radius: 4px;
  padding:0;
  margin-top:10px;
  padding: 10px;  
 border: 1px solid rgba(86, 74, 101, 0.2);
 -webkit-box-shadow: inset 0px 0px 132px -42px rgba(86,74,101,1);
-moz-box-shadow: inset 0px 0px 132px -42px rgba(86,74,101,1);
box-shadow: inset 0px 0px 132px -42px rgba(86,74,101,1);
}

/*Nuestros Sitios (#wepg-sitios)  */
#wepg-sitios{ 
 margin-bottom: 20px;
 border-radius: 4px;
 background: rgba(255, 255, 255, 0);
}
#wepg-sitios ul{ 
border-bottom:2px solid rgba(255, 255, 255, 1);
background: transparent;
}

#wepg-sitios ul li a{
  font-weight: bold;
  font-family: arial;
  font-size: 10pt;
  color: rgba(255, 255, 255, 1);
  padding:6px 10px; 
  background: transparent;
  border-radius: 0;
  border: none;
}

#wepg-sitios .active a, #wepg-sitios ul li a:focus{
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
}

#wepg-sitios ul li a:hover{
  color: #fff;
  background: rgba(64, 78, 124, 1);
}

#wepg-sitios #myTabContent {
  /*border-bottom:1px solid rgba(41, 51, 82, 1);
  border-right:1px solid rgba(41, 51, 82, 1);
  border-left:1px solid rgba(41, 51, 82, 1); */
  min-height:150px; 
  padding:10px 10px;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #fff;
}


/*agenda*/
#wepg-event{
  margin-bottom: 10px;
}

#wepg-event .media a{
   text-decoration: none;
}
#wepg-event .media .media-body{
   color: rgba(255, 255, 255, 1);
}
#wepg-event .media .media-heading{
   color: rgba(255, 255, 255, 1);
}

#wepg-event .media .idate{
   background: rgba(0, 0, 0, 1);
   border-color:rgba(255, 255, 255, 0.3);
}

#wepg-event .media .idate .idate-day{
   color: rgba(255, 255, 255, 1);
}

#wepg-event .media .idate .idate-month{
   color: rgba(255, 255, 255,1);
}

#wepg-event .wepg-title a{   
  background: rgba(255, 255, 255, 1);
}
#wepg-event .wepg-title{ 
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
#wepg-event .wepg-title h5 { 
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 11pt;
}

/*publicaciones*/
#wepg-publish .wepg-title a{   
  background: rgba(255, 255, 255, 1);
}
#wepg-publish .wepg-title{ 
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
#wepg-publish .wepg-title h5 { 
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 11pt;
}


/*agenda y publicaciones(#wepg-event, #wepg-publish )  */
#wepg-event, #wepg-publish{
  min-height: 200px;
  margin-bottom: 30px;
}

#wepg-event .wepg-title, #wepg-publish .wepg-title{
  padding: 5px 7px;
  margin-bottom: 10px;
  height: auto;
}

#wepg-event .wepg-title a, #wepg-publish .wepg-title a{ 
  font-family: arial;
  font-size:11pt;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(117, 13, 28, 1);
  padding: 15px 15px;
  margin-right: 10px;
  text-decoration: none;
}


/*footer (#wepg-footer) */
#wepg-footer{
  padding: 10px 0 0 0;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
  background: -webkit-linear-gradient(#212121, #161616);
  background: -moz-linear-gradient(#212121, #161616);
  background: -o-linear-gradient(#212121, #161616);
}

#wepg-footer h1{
  font-size: 13.5pt;
  font-weight:normal;
  text-transform: uppercase;
  color: rgba(126, 16, 32, 1);
}
#wepg-footer .wepg-navinf ul{
  list-style-position:inherit;
  list-style-type: none;
  padding: 0;
}

#wepg-footer .wepg-navinf ul li{
  display:inherit;  
  padding-bottom: 10px;
  margin-left: 10px;
}

#wepg-footer .wepg-navinf ul li a{
  color: #a3a2a2;
}

#wepg-footer .wepg-moreinf h1{
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 20px;
}

#wepg-footer .wepg-moreinf p{
  font-size: 10pt;
  color: #a3a2a2;
}

#wepg-footer .wepg-moreinf .icosocial{
  border-bottom: 1px solid #1f1d1d;
}



/*Estilo Contenidos */

/*naveagcion contenido #wepg-navcont */
#wepg-navcont > ul {
  padding: 0;
}

#wepg-navcont > ul li{  
 display: block;  
}

#wepg-navcont > ul li a{  
  display: block;
  margin: 5px 0; 
  padding: 10px 10px;  
  background: rgba(179, 179, 179, 0.2); 
  color: rgba(165, 28, 48, 1);
  text-decoration: none;
}

#wepg-navcont >ul li a:hover, #wepg-navcont > ul .selected > a {
  background: rgba(165, 28, 48, 1);
  color: rgba(255, 255, 255, 1); 
}


/*brochure #wepg-brochure */
#wepg-brochure{
}

#wepg-brochure span img{
 width: 50%;
 margin: auto;
 display: block;
 background: transparent;
 border: 1px solid rgba(0, 0, 0, 0.4);
 padding: 10px;
}



#wepg-navcont, #wepg-contact, #wepg-brochure{
  margin-bottom: 10px;
  border:1px solid rgba(165, 28, 48, 0.3);
  background: transparent;
  border-top: 7px solid rgba(165, 28, 48, 0.3);
}

#wepg-contenido{
  border:1px solid rgba(165, 28, 48, 0.3);
  background: transparent;
}

#wepg-navcont .wepg-title, #wepg-contact .wepg-title, #wepg-brochure .wepg-title{
  color: rgba(165, 28, 48, 1); 
}

/* estilos generales propios*/

/* paneles .wepg-panel*/
.wepg-panel{
  background-color: #b3b3b3;
  border-radius: 4px;
  padding: 4px 10px;
}

/* circulos */
.wepg-circle{
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background: rgba(237, 174, 39, 1);
  margin: auto;
}

/*Iconos Sociales (#.icosocial)  */
.icosocial ul{
  list-style-type:none;
  list-style-position:inherit;
  padding: 0;
}
.icosocial li{
  display:inline-block;
  margin:0 0 0 15px;
}
.icosocial a{
  display:block;
  width:40px;
  height:40px;
  background-color: transparent;
  background-image:url(../img/icosociales.png);
}
.icosocial a span{
  display:none; 
}
.icosocial #face{background-position:0 0}
.icosocial #gog{background-position:-40px 0}
.icosocial #twit{background-position:-80px 0}
.icosocial #you{background-position:-120px 0}

.icosocial #face:hover{background-position:0 40px}
.icosocial #gog:hover{background-position:-40px 40px}
.icosocial #twit:hover{background-position:-80px 40px}
.icosocial #you:hover{background-position:-120px 40px}


/*fechas (.idate)*/
.idate{
  width: 45px;
  height:50px;
  border: 1px solid rgba(86, 74, 101, 0.5);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}
.idate-month{  
  text-align: center;
  font-size: 9.5pt;
  font-weight: bold;
}

.idate-day{  
  text-align: center;
  font-size: 14pt;
  font-weight: bolder;
}
