<!DOCTYPE html>

{% load cms_tags sekizai_tags menu_tags stack_tags staticfiles %}
<html lang="es">
<head>
	{% render_block "css" %}
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">	
  <title>EPG | Escuela de Posgrado</title>
  <link rel="shortcut icon" href="{% static "zinnia/img/favicon2.ico" %}" />
	<!-- css bootstrap -->
	<link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}" />
  <!-- css amazingcarousel-slider -->
  <link rel="stylesheet" href="{% static "assets/css/initcarousel.css" %}">
  <!-- css web -->
  <link rel="stylesheet" href="{% static "assets/css/style.css" %}" /> 
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  {% cms_toolbar %}
  
  <!-- header-->
  <header>
    <div class="container">
      <div class="tools">
        <div class="search">
          <div class="d-right"></div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Ingresar Busqueda...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
          </div>
          <div class="d-left"></div>
        </div>
      </div> 
      <div class="row encabezado">
        <div class="logo">
        {% placeholder "logo" or %}
          {% show_placeholder "logo" "home" %}
        {% endplaceholder %}
        </div>
        <div class="header-nav">           
          <ul>
            <li class="item first">{% placeholder "hlink_1" or %}{% show_placeholder "hlink_1" "home" %}{% endplaceholder %}</li>
            <li class="item">{% placeholder "hlink_2" or %}{% show_placeholder "hlink_2" "home" %}{% endplaceholder %}</li>
            <li class="item">{% placeholder "hlink_3" or %}{% show_placeholder "hlink_3" "home" %}{% endplaceholder %}</li>
            <li class="item">{% placeholder "hlink_4" or %}{% show_placeholder "hlink_4" "home" %}{% endplaceholder %}</li>              
          </ul>              
        </div>
      </div>
    </div>
  </header>
  
  <!-- Navegacion --> 
  <nav>    
    <div class="container">  
      <ul class="nav nav-pills">
        {% show_menu 0 1 100 100 "menu_main.html" %}           
      </ul> 
    </div>    
  </nav>
  
  <!-- principal -->
  <div class="container" >
    {% block content_page %} {% endblock content_page %}
  </div>

  <!-- footer-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <div class="slogan">
            <figure>
              <img src="{% static "assets/img/logoupeug.png" %}">
            </figure>
            <strong>ESCUELA</strong> DE <strong>POSGRADO</strong>
            <P>"Profesionales Altamente Confiables"</P>
            <small class="ubicacion">
            {% placeholder "ubicacion" or %}
              {% show_placeholder "ubicacion" "home" %}
            {% endplaceholder %}
            </small>
          </div>
          <div class="social">            
            <ul>
              <li><a href="https://www.facebook.com/EscueladePosgrado.UPeU" class="ifacebook" data-toggle="tooltip" data-placement="top" title="/EscueladePosgrado.UPeU"></a></li> 
              <li><a href="https://twitter.com/upeuepg" class="itwitter" data-toggle="tooltip" data-placement="top" title="@upeuepg"></a></li>
              <li><a href="https://www.youtube.com/user/UPeUEPG" class="iyoutube" data-toggle="tooltip" data-placement="top" title="UPeUEPG"></a></li>         
              <li><a href="https://plus.google.com/u/0/110322229802450199975/posts" class="igoogle" data-toggle="tooltip" data-placement="top" title="Google +"></a></li>     
            </ul>           
          </div>           
        </div>        
        <div class="col-lg-8 col-sm-8">
          <ul class="nav-footer">
            {% show_menu 0 1 100 100 "menu_footer.html"%}          
          </ul>            
        </div>         
      </div>     
    </div> 
    <div class="wrap">
      <div class="container">
        <div class="footer-links">
          <ul class="links">
            <li class="item">{% placeholder "flink_1" or %}{% show_placeholder "flink_1" "home" %}{% endplaceholder %}<span>&bull;</span></li>
            <li class="item">{% placeholder "flink_2" or %}{% show_placeholder "flink_2" "home" %}{% endplaceholder %}<span>&bull;</span></li>
            <li class="item">{% placeholder "flink_3" or %}{% show_placeholder "flink_3" "home" %}{% endplaceholder %}<span>&bull;</span></li>
            <li class="item last">{% placeholder "flink_4" or %}{% show_placeholder "flink_4" "home" %}{% endplaceholder %}</li>
          </ul>
        </div>        
        <div class="creditos">
          <p>Desarrollado por:</p>            
          <p>Area de Sistemas - Escuela de Posgrado</p>
          <p>© 2014 Escuela de Posgrado - UPeU. Todos los derechos reservados.</p>
        </div>                
      </div>      
    </div>
  </footer>
  <div class="contact">
    <div class="title">
      <p>Contactenos</p>
    </div>
    <div class="content" id="mc_embed_signup">
      <p>Deje su correo y nombre y responderemos a sus preguntas de inmediato</p>      
      <form role="form" action="http://posgradoupeu.us3.list-manage1.com/subscribe/post?u=b9c5fb258cd2cd1ec5808843c&amp;id=58d7bffc92" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>                 
        <div class="form-group email">          
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="EMAIL" id="mce-EMAIL">          
        </div>
        <div class="form-group name">
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre" name="FNAME" id="mce-FNAME">
        </div>  
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div> 
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_b9c5fb258cd2cd1ec5808843c_58d7bffc92" tabindex="-1" value=""></div>
        <button type="submit" class="btn btn-default" name="subscribe" id="mc-embedded-subscribe">Inscribir</button>
      </form>
    </div>    
  </div>

<!-- js ............................................................................ -->
{% render_block "js" %}
<!-- js generales -->
<script src="{% static "assets/js/jquery-1.11.1.min.js" %}"></script>
<!-- js bootstrap -->
<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
<!-- js amazing carousel -->
<script src="{% static "assets/js/amazingcarousel.js" %}"></script>   
<script src="{% static "assets/js/initcarousel.js" %}"></script>
{% block popup_js %}
{% endblock popup_js %}
</body>
</html>
