{% extends "baseweb.html" %}
{% load cms_tags sekizai_tags menu_tags stack_tags  %}

{% block content_page %}
  <div class="row">
    <div class="col-lg-12">
      {% block breadcrumb %}  {% endblock breadcrumb %} 
    </div>
  </div> 
  <div class="row">
    <div class="col-lg-3 col-sm-4">
      {% block content_left %} 
      {% endblock content_left %}     
    </div>
    <div class="col-lg-9 col-sm-8">
      {% block content_main %} 
      {% endblock content_main %}     
    </div>
  </div>
{% endblock content_page %}