{% extends "baseweb.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{% block wepg_contenido %}  
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        {% block wepg_prog_breadcrumb %}  {% endblock wepg_prog_breadcrumb %}
      </ol>      
    </div>
  </div>

  <div class="row">    
    <div class="col-lg-3">

    <!--Navegacion-->
    <div class="wepg-title" id="wepg-title-nav-cont"><h4> {% block wepg_prog_titulo %}  {% endblock wepg_prog_titulo %}</h4> </div>   
    <div class="wepg-panel" id="wepg-navcont">
         
      <ul >
           {% block wepg_prog_navegacion %}  {% endblock wepg_prog_navegacion %}     
      </ul>
    </div>    

    </div>      

    <!--Contenido-->
    <div class="col-lg-9">

    <div class="wepg-panel" id="wepg-contenido">
      <div class="title"><h4>{% block wepg_prog_cont_titulo %}  {% endblock wepg_prog_cont_titulo %}</h4> </div>
      <div>
        {% block wepg_prog_contenido %} 

        {% endblock wepg_prog_contenido %}       
      </div>
    </div>

    </div>      

  </div>
</div>
  

{% endblock wepg_contenido %}