<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load cms_tags sekizai_tags menu_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	{% render_block "css" %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
  <title>EPG | Escuela de Posgrado</title>

	<!-- css bootstrap -->
	<link rel="stylesheet" type="text/css" href="/media/bootstrap3/css/bootstrap.css" />
	<!-- <link rel="stylesheet" type="text/css" href="/media/bootstrap3/css/bootstrap.min.css" /> -->
	<link rel="stylesheet" type="text/css" href="/media/bootstrap3/css/bootstrap-glyphicons.css" />

  <!-- css amazingcarousel-slider -->
  <link rel="stylesheet" type="text/css" href="/media/amazing/css/initcarousel-1.css">
  <link rel="stylesheet" type="text/css" href="/media/amazing/css/initcarousel-2.css">
  <link rel="stylesheet" type="text/css" href="/media/amazing/css/initcarousel-3.css">
 
  <!-- css web -->
  <link rel="stylesheet" type="text/css" href="/media/assets/css/style.css" /> 
  <!-- <link rel="stylesheet" type="text/css" href="/media/assets/css/styleshadow.css" />  -->
</head>

<body>
  {% cms_toolbar %}
  
  <!-- header-->
  <header id="wepg-header">

    <!-- Navegacion Superior -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" id="wepg-navtop">      
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-wepgmain">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/media/assets/img/letra.png"></a>
      </div>

      
      <div class="collapse navbar-collapse navbar-wepgmain">
        <ul class="nav navbar-nav">
          <li><a href="#">Aula Virtual</a></li>
          <li><a href="#">Mapa del Sitio</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Idioma <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">English</a></li>
              <li><a href="#">Español</a></li>
            </ul>
          </li>
        </ul>  

        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>    
    </nav>
    <!-- Fin Navegacion Superior -->

    <div class="container"  >
      <!-- Encabezado -->
      <div class="row" id="wepg-encabezado">
        <div class="col-lg-9">
          <a  href="http://localhost:8000/es/">
            <img src="/media/assets/img/logo_posgrado.png">            
          </a>          
        </div>

        <div class="col-lg-3">
          <div class="pull-right">
            <small class=""><span class="glyphicon glyphicon-time"></span>&nbsp;
            <script>
              var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
              var f=new Date();
              document.write("Lima, "+f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
            </script>
            </small>               
          </div>
        </div>
      </div><!-- Fin Encabezado -->

      <!-- Navegacion --> 
      <div class="row">  
        <div class="col-lg-12" id="wepg-navmain">
          <ul class="nav nav-pills pull-right">
            {% show_menu 0 1 100 100 "menu_1.html" %}           
          </ul>        
        </div>
      <!-- Fin Navegacion --> 
      </div>
    </div> 

  </header>
  
  <!-- principal -->
<div class="" > 
  {% block wepg_contenido %}{% endblock %} 

  <div class="container">
    <div class="wepg-panel" id="wepg-links">
      <h5>LINKS DE INTERES</h5>
    </div>   
  </div>

</div>

  <!-- footer-->
  <footer id="wepg-footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 wepg-navinf">
          <div>
          <h1>Especialidades</h1>
          <ul class="">
            <li><a href="#">En enfermeria</a></li>    
          </ul>
          <h1>Diplomados</h1>

          <ul class="">
            <li><a href="#">Estadistica Aplicada</a></li>
            <li><a href="#">Seguridad Industrial</a></li> 
            <li><a href="#">Bussines process Management</a></li>     
          </ul>
          </div>
        </div>

        <div class="col-lg-3 wepg-navinf">
          <div>
          <h1>Maestrias</h1>

          <ul class="">

            <li><a href="#">Administracion de Negocios</a></li>
            <li><a href="#">Ciencias de la Familia</a></li>
            <li><a href="#">Enfermeria</a></li>  
            <li><a href="#">Educación</a></li>  
            <li><a href="#">Ingenieria de sistemas</a></li>
            <li><a href="#">Salud Pública</a></li>  
            <li><a href="#">Teología</a></li>        
          </ul>
          </div>
        </div>

        <div class="col-lg-3 wepg-navinf">
          <div>
          <h1>Doctorados</h1>

          <ul class="">

            <li><a href="#">Administracion</a></li>
            <li><a href="#">Educación</a></li>
            <li><a href="#">Teología</a></li>        
          </ul>
          </div>
        </div>

        <div class="col-lg-3 wepg-moreinf" >
          <div class="icosocial">
          <h1>Síguenos en:</h1>
          <ul>
            <li><a href="#" id="face"><span>Facebook</span></a></li> 
            <li><a href="#" id="twit"><span>Twitter</span></a></li>
            <li><a href="#" id="you"><span>Youtube</span></a></li>         
            <li><a href="#" id="gog"><span>Google +</span></a></li>     
          </ul>            
          </div>
          <div class="contactenos icono">
            <h1>Contáctenos:</h1>
            <p>Si tiene alguna consulta o sugerencia, póngase en contacto con nosotros.</p> 
            <div id="ico-mail"></div> <p>epgposgrado@upeu.edu.pe </p>    
            <div id="ico-telf"></div><p>Telef: (511)618-6315 / (511)618-6316 Fax: (511)618-6339</p>
          </div>
        
        </div>

      </div> 
      
      <!-- {% show_menu 0 1 100 100 "menufooter.html" %}  -->

    </div> 
    <div style="background:rgba(117, 13, 28, 0.3); min-height: 50px; color:#fff; padding:5px; font-size:9pt;">
      <div class="container">
        <img style="float:left; padding:10px 10px 10px 0;"src="/media/assets/img/minilogo_posgrado.png">
        <small>Universidad Peruana Unión </br> 
           © 2011 Escuela de Posgrado - Todos los derechos reservados </br>
           Carretera Central Km. 19.0 Ñaña, Lima - Perú</small>      
      </div>      
    </div> 
  </footer>

<!-- js ............................................................................ -->
{% render_block "js" %}
<!-- js generales -->
<script src="/media/assets/js/jquery.js"></script>
<script src="/media/assets/js/holder.js"></script>

<!-- js bootstrap -->
<script src="/media/bootstrap3/js/bootstrap.js"></script>
<!-- <script src="/media/bootstrap3/js/bootstrap.min.js"></script> -->

<!-- js amazing carousel -->
<script src="/media/amazing/js/amazingcarousel.js"></script>   
<script src="/media/amazing/js/initcarousel-1.js"></script>
<script src="/media/amazing/js/initcarousel-2.js"></script>
<script src="/media/amazing/js/initcarousel-3.js"></script>


</body>
</html>
