{% extends "baseweb.html" %}
{% load cms_tags menu_tags %}

{% block wepg_contenido %}  
  
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        {% show_breadcrumb %}
      </ol>
      
    </div>
  </div>

  <div class="row">

    <!--Navegacion-->
    <div class="col-lg-3">
    
    <div class="wepg-panel" id="wepg-anunsec">
      <div class="title"><h4>Navegacion</h4> </div>
      <div class="">        
          <ul>
            {% show_sub_menu 1 0 %}        
          </ul>      
      </div>
    </div>

    </div>      

    <!--Contenido-->
    <div class="col-lg-9" id="wepg-panelleft">

    <div class="wepg-panel" id="wepg-eventos">
      <div class="title"><h4>Contenido</h4> </div>
      <div>
        {% placeholder wepg_Contenido %} 
      </div>
    </div>

    </div>

   

  </div>

  

{% endblock wepg_contenido %}