{% extends "baseprogramas.html" %}
{% load cms_tags menu_tags %}

  <!--breadcrumbs-->     
  {% block wepg_prog_breadcrumb %} {% show_breadcrumb %} {% endblock wepg_prog_breadcrumb %}
  
  <!--Nvaegacion-->       
  {% block wepg_prog_titulo %}  {% page_attribute "title" request.current_page.parent_id %} {% endblock wepg_prog_titulo %}    
   
  {% block wepg_prog_navegacion %} {% show_sub_menu 1 None 0 %}  {% endblock wepg_prog_navegacion %}      

  <!--contactenos-->    
  {% block wepg_prog_contactenos %} {% stack wepg_contactenos %} {% endblock wepg_prog_contactenos %} 
   
  <!--brochure-->      
  {% block wepg_prog_brochure %} {% stack wepg_brochure %}  {% endblock wepg_prog_brochure %}      
    

  <!--Contenido-->
   
  {% block wepg_prog_cont_titulo %} {% page_attribute "title" %} {% endblock wepg_prog_cont_titulo %}
  {% block wepg_prog_contenido %} 
    {% placeholder wepg_prog_contenido %} 

    {% show_sub_menu 100 1 100 %} 

  {% endblock wepg_prog_contenido %}       
  
