{% load comments i18n zinnia_tags staticfiles %}

{% if entries %}
  <div class="row">
    {% for entry in entries %}       
  <div class="col-lg-6">
    <div class="thumbnail" style="min-height:200px;">
      <img class="" src="{% if entry.image %}{{ entry.image.url }}{% endif %}" style="width:100%; max-height:150px;" />
      <div class="caption">
        <h4>{{ entry.title }} &nbsp;&nbsp;<a href="{{ entry.get_absolute_url }}"><span class="glyphicon glyphicon-plus-sign"></span></a></h4>
        <p>{{ entry.excerpt|safe|linebreaks|truncatewords_html:7 }}</p>
       
      </div>
    </div>
  </div>  


      {% endfor %}
  </div>
{% endif %}

