{% load comments i18n zinnia_tags staticfiles %}

{% if entries %}
<div id="slider-principal" class="carousel slide">
  <ol class="carousel-indicators">
    {% for entry in entries %} 
    <li data-target="#slider-principal" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %} 
  </ol>
  
  <div class="carousel-inner">  
    {% for entry in entries %}   
      <div class="item {% if forloop.first %}active{% endif %}">
        <img src="{% if entry.image %}{{ entry.image.url }}{% endif %}" alt="">
      </div>        
    {% endfor %}      
  </div>
  <a class="left carousel-control" href="#slider-principal" data-slide="prev">
    <span class="icon-prev"></span></a>
  <a class="right carousel-control" href="#slider-principal" data-slide="next">
    <span class="icon-next"></span></a>
</div>
{% endif %}
 