{% load comments i18n zinnia_tags staticfiles %}
{% if entries %}
  <ul class="media-list">
      {% for entry in entries %}
      <li class="media"> 

        <img class="pull-left media-object img-thumbnail" src="{% if entry.image %}{{ entry.image.url }}{% endif %}"  />
        
        <div class="media-body">
          <h4 class="media-heading">{{ entry.title }} &nbsp;&nbsp;<a href="{{ entry.get_absolute_url }}"><span class="glyphicon glyphicon-plus-sign"></span></a></h4>
          <p>{{ entry.excerpt|safe|linebreaks|truncatewords_html:30 }}</p>
          <p class="wepg-date">{{ entry.creation_date|date:"DATE_FORMAT" }}&nbsp;|    
          {% with categories=entry.categories.all %}
          {% if categories|length %}          
          {% for category in categories %}
          <a href="{{ category.get_absolute_url }}" rel="tag category">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}.
          {% endwith %}
          </p>
        </div>
      </li>
      <div class="wepg-separador"></div>
      {% endfor %}
  </ul>
{% endif %}

