{% load comments i18n zinnia_tags staticfiles %}
<div class="ads-items">       
{% if entries %}
    {% for entry in entries %} 
    <article class="ad ad{{ forloop.counter }}">
      <h3 class="title">
        <a href="{{ entry.get_absolute_url }}">{{ entry.title|truncatewords_html:10 }}</a>
      </h3>
      <p class="info">{% with authors=entry.authors.all %}
      {% if authors|length %}
      {% for author in authors %}
      <span class="author">       
        <a href="{{ author.get_absolute_url }}" class="fn url{% if not author.get_full_name %} nickname{% endif %}" rel="author"
           title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">{{ author }}</a>
        </span>{% if not forloop.last %}, {% endif %}       
      {% endfor %}
      {% endif %} 
      {% endwith %} | <span class="date">{{ entry.creation_date|date:"d/m/y" }}</span></p>

      {% if entry.image %}
      <!-- <figure class="img"><img src="{{ entry.image.url }}"></figure> -->
      {% endif %}
      <div class="content">
        {% if entry.image %}
      	<p>{{ entry.excerpt|safe|truncatewords_html:50}}<a href="{{ entry.get_absolute_url }}" class="more">Leer M&aacute;s</a></p>
        {% else %}
        <p>{{ entry.excerpt|safe|truncatewords_html:50}}<a href="{{ entry.get_absolute_url }}" class="more">Leer M&aacute;s.</a></p>
        {% endif %}      	
      </div>      
    </article>
    {% endfor %}
{% else %}
  <p>No hay contenido publicado para esta secci&oacute;n</p>
{% endif %}
</div>
